.shift {
    background-color: cornflowerblue;
    border-radius: 5px;
    border: 1px solid blue;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: calc(20% - 5px);
    line-height: 18px;
    margin-bottom: 2px;
    padding: 0 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shift .label {}

.shift .delete {
    display: none;
}

.shift:hover {
    cursor: pointer;
}

.shift:hover .delete {
    color: red;
    display: block;
    font-size: 18px;
    line-height: 18px;
}