.wrapper {
    background-color: transparent;
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, min-content);
    gap: 5px;
}