.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 8em);
    gap: 0.5em;
}

.day {
    background-color: #fdf5df;
    border: 1px solid black;
    padding: 0 1px;
}

.label,
.event {
    font-size: 16px;
    line-height: 18px;
    height: calc(20% - 5px);
    padding: 0 10px;

}
.label {
    margin-bottom: 2px;
    text-align: right;
}

.event {
    border: 1px solid blue;
    background-color: cornflowerblue;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 2px;
    text-align: left;
}
.event:hover {
    cursor: pointer;
}