.today,
.day {
    background-color: rgb(203, 240, 255);
    padding: 0 1px;
}

.inactiveDay {
    background-color: rgba(203, 240, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
    padding: 0 1px;
}


.label {
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    height: calc(20% - 5px);
    padding: 4px 10px;
    margin-bottom: 2px;
    text-align: right;
}

.todayLabel {
    border: 2px solid red;
    display: inline-block;
    border-radius: 2px;
    padding: 0 10px;
    box-sizing: initial;
}



